<div ng-controller="CoursesCtrl">
    <md-button ng-click="newCourse()" class="md-raised md-primary"><span class="glyphicon glyphicon-plus"></span> New Course</a></md-button>
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="course in $data">
            <td title="'Course Number'" filter="{courseNumber: 'text'}"><a href="/#/current/course/{{course.id}}">{{course.courseNumber}}</a></td>
            <td title="'Course Title'" filter="{courseTitle: 'text'}">{{course.courseTitle}}</td>
            <td title="'Topics'">{{course.topics.length}}</td>
            <td title="'Actions'">
                <a href="" ng-click="confirmDelete(course)"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </td>
        </tr>
    </table>
</div>
