<div ng-controller="TopicCtrl">
    <div class="row">
        <div class="col-md-10">
            <div ng-if="edit" ng-include="'app/components/topic/topic_form.html'"></div>
            <div ng-if="!edit">
                <h1>{{model.description}}</h1>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <md-button class="md-primary" ng-if="!edit" style="padding: 1em;" ng-click="$parent.edit = true"><span class="glyphicon glyphicon-pencil"></span> Edit</md-button>
            <md-button class="md-primary" ng-if="edit" style="padding: 1em;" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save</md-button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table ng-table="associatedCoursesParams" class="table table-bordered table-striped" show-filter="true">
                <tr ng-repeat="course in $data">
                    <td title="'Course Number'" filter="{courseNumber: 'text'}"><a href="/#/current/course/{{course.id}}">{{course.courseNumber}}</a></td>
                    <td title="'Course Title'" filter="{courseTitle: 'text'}">{{course.courseTitle}}</td>
                    <td title="'Actions'"><a href="" ng-click="delete(course)"><span class="glyphicon glyphicon-remove"></span> Remove Association</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table ng-table="unassociatedCoursesParams" class="table table-bordered table-striped" show-filter="true">
                <tr ng-repeat="course in $data">
                    <td title="'Course Number'" filter="{courseNumber: 'text'}"><a href="/#/course/{{course.id}}">{{course.courseNumber}}</a></td>
                    <td title="'Course Title'" filter="{courseTitle: 'text'}">{{course.courseTitle}}</td>
                    <td title="'Actions'"><a href="" ng-click="associate(course)"><span class="glyphicon glyphicon-plus"></span> Add Association</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
