<div ng-controller="TopicsCtrl">
    <md-button ng-click="newTopic()" class="md-raised md-primary"><span class="glyphicon glyphicon-plus"></span> New Topic</a></md-button>
    <table ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="topic in $data">
            <td title="'Description'" filter="{description: 'text'}"><a href="/#/current/topic/{{topic.id}}">{{topic.description}}</a></td>
            <td title="'Courses'"><span class="label label-course" ng-repeat="course in topic.courses">{{course.courseNumber}}</span></td>
            <td title="'Actions'">
                <a href="" ng-click="confirmDelete(topic)"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </td>
        </tr>
    </table>
</div>
