<form>
    <md-input-container class="md-block" flex>
        <label>Course Number</label>
        <input type="text" ng-model="$parent.model.courseNumber">
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>Course Title</label>
        <input type="text" ng-model="$parent.model.courseTitle">
    </md-input-container>
</form>