<div ng-controller="CourseCtrl">
    <div class="row">
        <div class="col-md-10">
            <div ng-if="edit" ng-include="'app/components/course/course_form.html'"></div>
            <div ng-if="!edit">
                <h1>{{model.courseNumber}}: {{model.courseTitle}}</h1>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <md-button style="padding: 1em" class="md-primary" ng-if="edit" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save</md-button>
            <md-button style="padding: 1em" class="md-primary" ng-if="!edit" ng-click="$parent.edit=true"><span class="glyphicon glyphicon-pencil"></span> Edit</md-button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table ng-table="associatedTopicsParams" class="table table-bordered table-striped" show-filter="true">
                <tr ng-repeat="topic in $data">
                    <td title="'Description'" filter="{description: 'text'}"><a href="/#/current/topic/{{topic.id}}">{{topic.description}}</a></td>
                    <td title="'Actions'"><a href="" ng-click="delete(topic)"><span class="glyphicon glyphicon-remove"></span> Remove Association</a></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <table ng-table="unassociatedTopicsParams" class="table table-bordered table-striped" show-filter="true">
                <tr ng-repeat="topic in $data">
                    <td title="'Description'" filter="{description: 'text'}"><a href="/#/topic/{{topic.id}}">{{topic.description}}</a></td>
                    <td title="'Actions'"><a href="" ng-click="associate(topic)"><span class="glyphicon glyphicon-plus"></span> Add Association</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
