<md-dialog aria-label="New Course" flex>
    <md-dialog-content>
    <div class="md-dialog-content" id="new_course_dialog">
        <h2>New Course</h2>
        <div ng-include="'app/components/course/course_form.html'"></div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="save()" style="margin-right:20px;">Save</md-button>
    </md-dialog-actions>
</md-dialog>
