<div ng-controller="IssuesCtrl">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues.issues" ng-if="issue.status === 'new'">
                <td>{{issue.title}}</td>
                <td>{{issue.content}}</td>
                <td>{{issue.status}}</td>
            </tr>
        </tbody>
    </table>
    <label><input type="checkbox" ng-model="showJson"> Show Json</label>
    <pre ng-if="showJson">{{issues | json}}</pre>
</div>
