<div class="navbar navbar-inverse" style="border-radius: 0" ng-controller="NavbarCtrl">
    <div class="navbar-header">
        <a class="navbar-brand" href="">Current | <span style="font-size: 12px">Cirriculum Entry System</span></a>
        <ul class="nav navbar-nav" ng-if="Security.isAuthenticated()">
        	<li><a ng-href="/#/current/courses" class="nav-item">Courses</a></li>
        	<li><a ng-href="/#/current/topics" class="nav-item">Topics</a></li>
    	</ul>
    </div>
        <ul style="margin-right: 0" class="nav navbar-nav navbar-right" ng-if="Security.isAuthenticated()">
            <li><a>{{Security.getCurrentUser().username}}</a></li>
            <li><a href="" ng-click="Security.logout()">logout</a></li>
        </ul>
</div>
