<div ng-if="isSandbox" style="padding: 1em; position: fixed; bottom: 0" >
    <ul class="list-unstyled">
        <li>
            <h4 class="text-center">Sandbox Tools</h4>
        </li>
        <li>
            <a ng-click="populateData()" href="">
                <p class="text-center">
                    <span style="margin: 0.5em; font-size: 24px" class="glyphicon glyphicon-download-alt"></span><br>LOAD
                </p>
            </a>
        </li>
        <li>
            <a ng-click="confirmWipeData()" href="">
                <p class="text-center">
                    <span style="margin: 0.5em; font-size: 24px" class="glyphicon glyphicon-trash"></span><br>DELETE
                </p>
            </a>
        </li>
    </ul>
</div>
