<div ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div ng-include="'app/components/security/login_form.html'"></div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>