<form>
    <md-input-container class="md-block">
        <label>Username</label>
        <input type="text" ng-model="$parent.model.username">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="$parent.model.password">
    </md-input-container>
    <div class="text-right">
        <md-button type="submit" ng-click="login()" class="md-primary">Login</md-button>
    </div>
</form>